@model InvoiceData.Root;
@using InvoiceData;
@using System.Collections.Generic;

@functions {
    private readonly Dictionary<string, Setting> _settingCache = new Dictionary<string, Setting>();

    public string GetLabel(string settingName)
    {
        if (!_settingCache.TryGetValue(settingName, out var setting))
        {
            setting = Model.Settings?.GetType().GetProperty(settingName)?.GetValue(Model.Settings) as Setting;
            _settingCache[settingName] = setting ??= new Setting();
        }
        return setting?.Display == true ? setting?.Label ?? string.Empty : string.Empty;
    }

    public bool GetDisplayStatus(string settingName)
    {
        if (!_settingCache.TryGetValue(settingName, out var setting))
        {
            setting = Model.Settings?.GetType().GetProperty(settingName)?.GetValue(Model.Settings) as Setting;
            _settingCache[settingName] = setting ??= new Setting();
        }
        return setting?.Display == true;
    }
}

<footer id="footer" style="@(Model?.ShowSectionsInline == true ? "flex-grow: 1" : "")">
    @* class="page-break-inside-avoid h-100" *@
    <table>
        <tbody>
            <tr>
                <td class="p-0" width="33%">
                    <table>
                        <tbody>
                            @if (GetDisplayStatus("Message1") && !string.IsNullOrEmpty(Model?.Message1))
                            {
                                <tr>
                                    <td>
                                        <p>@Model.Message1</p>
                                    </td>
                                </tr>
                            }
                            @if (GetDisplayStatus("ShowMessage2") && !string.IsNullOrEmpty(Model?.Message2))
                            {
                                <tr>
                                    <td>
                                        <p>@Model.Message2</p>
                                    </td>
                                </tr>
                            }
                            @if (GetDisplayStatus("Thanks"))
                            {
                                <tr>
                                    <td>
                                        <strong class="color-primary">@GetLabel("Thanks")</strong>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td class="p-0 vertical-align-bottom" width="33%"></td>
                <td class="vertical-align-bottom text-center" width="33%">
                    @if (GetDisplayStatus("TextUnderSlogan") || GetDisplayStatus("ImageSignature"))
                    {
                        <div class="border-bottom" style="padding-bottom: 5px;"> @* Added class and inline style *@
                            @if (GetDisplayStatus("ImageSignature") && !string.IsNullOrEmpty(Model?.ImageSignature))
                            {
                                <figure class="m-0">
                                    <img src="@Model.ImageSignature" height="60px" width="auto" />
                                </figure>
                            }
                        </div>
                    }
                    @if (GetDisplayStatus("TextUnderSlogan"))
                    {
                        <p class="text-under-signature mr-t1">@GetLabel("TextUnderSlogan")</p> @* Added class and spacing
                    class *@
                    }
                </td>
            </tr>
            <tr>
                <td colspan="100%">
                    <hr class="color-primary" />
                </td>
            </tr>
            <tr>
                <td colspan="100%" class="text-center">
                    @if (GetDisplayStatus("FooterCompanyName"))
                    {
                        <p class="font-weight-500">@Model?.Company?.Name</p>
                    }
                    @if (GetDisplayStatus("CompanyAddress"))
                    {
                        <address>@GetLabel("CompanyAddress")</address>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</footer>
