@model InvoiceData.Root;
@using InvoiceData;
@using System.Collections.Generic;

<footer id="footer" style="@(Model?.ShowSectionsInline == true ? "flex-grow: 1" : "")">
    <table class="page-break-inside-avoid h-100">
        <tbody>
            <tr>
                <td class="p-0 vertical-align-bottom" width="33%">
                    <table>
                        <tbody>
                            @if (Model?.Settings?.ShowNotesAtLastPage?.Display != true)
                            {
                                @if (Model?.Settings?.Message1?.Display == true && !string.IsNullOrEmpty(Model?.Settings?.Message1?.Label))
                                {
                                    <tr>
                                        <td>
                                            <p class="text-wrap-pre">@Model.Settings.Message1.Label</p>
                                        </td>
                                    </tr>
                                }
                                @if (Model?.Settings?.ShowMessage2?.Display == true && !string.IsNullOrEmpty(Model?.Settings?.ShowMessage2?.Label))
                                {
                                    <tr>
                                        <td>
                                            <p class="text-wrap-pre">@Model.Settings.ShowMessage2.Label</p>
                                        </td>
                                    </tr>
                                }
                            }
                            @if (Model?.Settings?.Thanks?.Display == true)
                            {
                                <tr>
                                    <td>
                                        <strong class="color-primary">@(!string.IsNullOrEmpty(Model?.Settings?.Thanks?.Label) ? Model.Settings.Thanks.Label : "Thank you for your business!")</strong>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td class="p-0 vertical-align-bottom text-center" width="33%">
                    @if (!string.IsNullOrEmpty(Model?.SealPath))
                    {
                        <img src="@Model.SealPath"
                            height="100px" width="180px" />
                    }
                </td>
                <td class="vertical-align-bottom text-center" width="33%">
                    @if (Model?.Settings?.Slogan?.Display == true || Model?.Settings?.ImageSignature?.Display == true)
                    {
                        <div class="border-bottom" style="padding-bottom: 5px;"> @* Added class and inline style *@
                            @if (Model?.Settings?.ImageSignature?.Display == true && !string.IsNullOrEmpty(Model?.ImageSignature))
                            {
                                <figure class="m-0">
                                    <img src="@Model.ImageSignature" height="60px" width="auto" class="signature-image" />
                                </figure>
                            } else if (Model.Settings.Slogan.Display == true && Model?.Settings?.Slogan?.Label != null)
                            {
                                <p>@Model.Settings.Slogan.Label</p>
                            }
                        </div>
                    }
                    @if (Model?.Settings?.TextUnderSlogan?.Display == true)
                    {
                        <p class="text-under-signature mr-t1">@Model?.Settings?.TextUnderSlogan?.Label</p> @* Added class and spacing
                    class *@
                    }
                </td>
            </tr>
            <tr>
                <td colspan="100%" class="px-0">
                    <hr class="color-primary" />
                </td>
            </tr>
            <tr>
                <td colspan="100%" class="text-center">
                    @if (Model?.Settings?.FooterCompanyName?.Display == true)
                    {
                        <p class="font-weight-500">@Model.Settings.FooterCompanyName.Label</p>
                    }
                    @if (Model?.Settings?.CompanyAddress?.Display == true)
                    {
                        <address>@Model?.Settings?.CompanyAddress?.Label</address>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</footer>
