@model InvoiceData.Root
@using InvoiceData
@using System;
@using System.Collections.Generic;
@using System.Reflection
@using System.Linq;
@using System.Net;

@functions {
    public string GetLabel(string settingName)
    {
        var setting = GetSetting(settingName);
        return setting?.Display == true ? setting.Label ?? string.Empty : string.Empty;
    }

    public bool GetDisplayStatus(string settingName)
    {
        var setting = GetSetting(settingName);
        return setting?.Display == true;
    }

    public object GetAccountCurrencyCodeOrSymbol()
    {
        return Model?.CurrencyFormat == "CODE"
        ? Model?.AccountCurrency?.Code ?? string.Empty
        : WebUtility.HtmlDecode(Model?.AccountCurrency?.Symbol) ?? string.Empty;
    }

    public object GetCompanyCurrencyCodeOrSymbol()
    {
        return Model?.CurrencyFormat == "CODE"
        ? Model?.Company?.Currency?.Code ?? string.Empty
        : WebUtility.HtmlDecode(Model?.Company?.Currency?.Symbol) ?? string.Empty;
    }

    public bool IsShowAmountForCompany()
    {
        return Model?.IsMultipleCurrency == true && Model?.DisplayBaseCurrency == true;
    }

    private Setting? GetSetting(string settingName)
    {
        return Model.Settings?.GetType().GetProperty(settingName)?.GetValue(Model.Settings) as Setting;
    }
}

<main style="margin-top: @(GetDisplayStatus("ShowSectionsInline") ? "8px" : "0")">
   <table class="h-inherit">
        <tbody>
            <tr>
                <td class="p-0 border-none vertical-align-top">
                    <table>
                        <tbody>
                            <tr>
                                <td class="p-0 border-none">
                                    <table class="entry-table remove-left-right-border repeated-header">
                                        <thead>
                                            <tr class="border-top-none">
                                                @if (GetDisplayStatus("SNo"))
                                                {
                                                    <th class="text-center">@GetLabel("SNo")</th>
                                                }
                                                @if (GetDisplayStatus("Item"))
                                                {
                                                    <th width="35%">@GetLabel("Item")</th>
                                                }
                                                @if (GetDisplayStatus("HsnSac"))
                                                {
                                                    <th class="text-center">@GetLabel("HsnSac")</th>
                                                }
                                                @if (GetDisplayStatus("Quantity"))
                                                {
                                                    <th class="text-center">@GetLabel("Quantity")</th>
                                                }
                                                @if (GetDisplayStatus("Rate"))
                                                {
                                                    <th class="text-right">@GetLabel("Rate")</th>
                                                }

                                                <th class="text-center">per</th>

                                                @if (GetDisplayStatus("Discount"))
                                                {
                                                    <th class="text-center">@GetLabel("Discount")</th>
                                                }
                                                <th class="text-right no-wrap">
                                                    @if (GetDisplayStatus("Total"))
                                                    {
                                                        @GetLabel("Total")
                                                    }
                                                    else
                                                    {
                                                        <span>Amount</span>
                                                    }
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="vertical-align-top">
                                            @{
                                                var index = 0;
                                            }
                                            @if (Model?.Entries != null && Model.Entries.Any())
                                            {
                                            @foreach (var Entry in Model.Entries)
                                            {
                                                index++;
                                                <tr>
                                                    @if (GetDisplayStatus("SNo"))
                                                    {
                                                        <td class="py-0 border-none border-right border-left text-center vertical-align-top">
                                                            @index
                                                        </td>
                                                    }
                                                    @if (GetDisplayStatus("Item"))
                                                    {
                                                        <td class="py-0 border-none border-right">
                                                            @if (Entry?.Stock != null && !string.IsNullOrEmpty(Entry.Stock.Name))
                                                            {
                                                                <p class="word-break">
                                                                    <strong class="capitalize">
                                                                        @Entry?.Stock?.Name
                                                                    </strong>
                                                                    @if (Entry?.Stock?.ShowVariant == true)
                                                                    {
                                                                        <span>-</span>
                                                                        <span>@Entry.Stock.Variant?.Name</span>
                                                                    }
                                                                </p>
                                                            }
                                                            else if (Entry?.AccountName != null)
                                                            {
                                                                <strong class="word-break capitalize">
                                                                    @Entry.AccountName
                                                                </strong>
                                                            }

                                                            @if (Entry?.Description != null)
                                                            {
                                                                <p class="color-light word-break">
                                                                    @Entry.Description
                                                                </p>
                                                            }

                                                            @if (Entry?.Stock != null && !string.IsNullOrEmpty(Entry.Stock.Sku) ||
                                                        Entry?.Stock?.CustomField1 != null || Entry?.Stock?.CustomField2 != null)
                                                            {
                                                                @if (GetDisplayStatus("SkuCode") && !string.IsNullOrEmpty(Entry.Stock.Sku))
                                                                {
                                                                    <p class="color-light word-break">
                                                                        SKU Code: @Entry.Stock?.Sku
                                                                    </p>
                                                                }

                                                                <!-- Custom Fields -->
                                                                @if (Entry?.Stock?.CustomField1?.Value != null)
                                                                {
                                                                    <p class="font-size-small color-light word-break">
                                                                        @Entry.Stock.CustomField1?.Key : @Entry.Stock.CustomField1?.Value,
                                                                    </p>
                                                                }

                                                                @if (Entry?.Stock?.CustomField2?.Value != null)
                                                                {
                                                                    <p class="font-size-small color-light word-break">
                                                                        @Entry.Stock.CustomField2?.Key : @Entry.Stock.CustomField2?.Value,
                                                                    </p>
                                                                }
                                                            }

                                                            @if (GetDisplayStatus("Date") && Entry?.Date != null)
                                                            {
                                                                <p class="font-size-small color-light">
                                                                    @Entry.Date
                                                                </p>
                                                            }
                                                        </td>
                                                    }

                                                    @if (GetDisplayStatus("HsnSac"))
                                                    {
                                                        <td class="py-0 border-none border-right text-center">
                                                            @if (Entry?.HsnNumber != null)
                                                            {
                                                                <span>@Entry.HsnNumber</span>
                                                            }
                                                            else if (Entry?.SacNumber != null)
                                                            {
                                                                <span>@Entry.SacNumber</span>
                                                            }
                                                        </td>
                                                    }

                                                    @if (GetDisplayStatus("Quantity"))
                                                    {
                                                        <td class="py-0 border-none border-right text-center">
                                                            @if (Entry?.Stock != null && Entry.Stock.Quantity != null)
                                                            {
                                                                <strong class="no-wrap">
                                                                    @Entry.Stock?.Quantity
                                                                    @if (Entry?.Stock != null && Entry.Stock.StockUnit != null)
                                                                    {
                                                                        @Entry.Stock?.StockUnit?.Code
                                                                    }
                                                                </strong>
                                                            }
                                                        </td>
                                                    }

                                                    @if (GetDisplayStatus("Rate"))
                                                    {
                                                        <td class="py-0 border-none border-right text-right">
                                                            @if (Entry?.Stock?.Rate != null)
                                                            {
                                                                <p>
                                                                    @GetAccountCurrencyCodeOrSymbol()
                                                                    @Entry.Stock.Rate.AmountForAccount
                                                                </p>
                                                                
                                                                @if (IsShowAmountForCompany() && Entry.Stock.Rate?.AmountForCompany != null)
                                                                {
                                                                    <p class="text-light pr-3 font-size-small">
                                                                        @GetCompanyCurrencyCodeOrSymbol()
                                                                        @Entry.Stock.Rate.AmountForCompany
                                                                    </p>
                                                                }
                                                            }
                                                        </td>
                                                    }

                                                    <td class="py-0 border-none border-right text-center">
                                                        @if (Entry?.Stock != null && Entry.Stock.StockUnit != null &&
                                                    !string.IsNullOrEmpty(Entry.Stock.StockUnit.Code))
                                                        {
                                                            @Entry.Stock.StockUnit.Code
                                                        }
                                                    </td>

                                                    @if (GetDisplayStatus("Discount"))
                                                    {
                                                        <td class="py-0 border-none border-right text-center">
                                                            @if (Entry?.SumOfDiscounts != null && Entry.SumOfDiscounts.AmountForAccount >= 0)
                                                            {
                                                                <span>@GetAccountCurrencyCodeOrSymbol() - @Entry?.SumOfDiscounts?.AmountForAccount</span>
                                                            }
                                                        </td>
                                                    }
                                                    <td class="py-0 border-none border-right text-right">
                                                        @if (Entry?.TaxableValue != null)
                                                        {
                                                            <p>
                                                                <strong>
                                                                    @GetAccountCurrencyCodeOrSymbol()
                                                                    @Entry?.TaxableValue?.AmountForAccount
                                                                </strong>
                                                            </p>
                                                            @if (IsShowAmountForCompany())
                                                            {
                                                                <p class="text-right text-light">
                                                                    <strong class="text-light font-size-small">
                                                                        @GetCompanyCurrencyCodeOrSymbol()
                                                                        @Entry?.TaxableValue?.AmountForCompany
                                                                    </strong>
                                                                </p>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                @if (GetDisplayStatus("SNo"))
                                                {
                                                    <td class="border-none border-right border-left"></td>
                                                }
                                                @if (GetDisplayStatus("Item"))
                                                {
                                                    <td class="border-none border-right"></td>
                                                }
                                                @if (GetDisplayStatus("HsnSac"))
                                                {
                                                    <td class="border-none border-right"></td>
                                                }
                                                @if (GetDisplayStatus("Quantity"))
                                                {
                                                    <td class="border-none border-right"></td>
                                                }
                                                @if (GetDisplayStatus("Rate"))
                                                {
                                                    <td class="border-none border-right"></td>
                                                }

                                                <td class="border-none border-right"></td>

                                                @if (GetDisplayStatus("Discount"))
                                                {
                                                    <td class="border-none border-right"></td>
                                                }
                                                <td class="border-none border-right border-top text-right">
                                                    <strong> @Model?.TaxableTotal?.AmountForAccount</strong>
                                                </td>
                                            </tr>

                                            @if (Model?.GstTaxesTotal != null && Model.GstTaxesTotal.Any())
                                            {
                                                @foreach (var Tax in Model.GstTaxesTotal)
                                                {
                                                    <tr>
                                                        @if (GetDisplayStatus("SNo"))
                                                        {
                                                            <td class="border-none border-right border-left"></td>
                                                        }
                                                        @if (GetDisplayStatus("Item"))
                                                        {
                                                            <td class="border-none border-right text-right">
                                                                @if (Tax?.AccountName != null)
                                                                {
                                                                    <strong class="text-uppercase">
                                                                        @Tax?.AccountName
                                                                    </strong>
                                                                }
                                                            </td>
                                                        }
                                                        @if (GetDisplayStatus("HsnSac"))
                                                        {
                                                            <td class="border-none border-right"></td>
                                                        }
                                                        @if (GetDisplayStatus("Quantity"))
                                                        {
                                                            <td class="border-none border-right"></td>
                                                        }
                                                        @if (GetDisplayStatus("Rate"))
                                                        {
                                                            <td class="border-none border-right"></td>
                                                        }

                                                        <td class="border-none border-right"></td>

                                                        @if (GetDisplayStatus("Discount"))
                                                        {
                                                            <td class="border-none border-right"></td>
                                                        }
                                                        <td class="border-none border-right text-right">
                                                            @if (Tax?.Amount != null)
                                                            {
                                                                <strong>@Tax?.Amount.AmountForAccount</strong>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                            <tr>
                                                @if (GetDisplayStatus("SNo"))
                                                {
                                                    <td></td>
                                                }
                                                @if (GetDisplayStatus("Item"))
                                                {
                                                    <td class="text-right">Total</td>
                                                }
                                                @if (GetDisplayStatus("HsnSac"))
                                                {
                                                    <td></td>
                                                }
                                                @if (GetDisplayStatus("Quantity"))
                                                {
                                                    <td class="text-center">
                                                        @if (GetDisplayStatus("TotalQuantity"))
                                                        {
                                                            <strong>@Model?.StockQuantityWithUnit</strong>
                                                        }
                                                    </td>
                                                }
                                                @if (GetDisplayStatus("Rate"))
                                                {
                                                    <td></td>
                                                }

                                                <td></td>

                                                @if (GetDisplayStatus("Discount"))
                                                {
                                                    <td></td>
                                                }
                                                <td class="text-right">
                                                    <strong>
                                                        @GetAccountCurrencyCodeOrSymbol()
                                                        @Model?.GstEntriesTotal?.AmountForAccount
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                            @if (GetDisplayStatus("TotalInWords"))
                            {
                            <tr>
                                <td class="p-0 border-none @(GetDisplayStatus("TaxBifurcation") ? "" : "border-bottom")">
                                    <table class="remove-left-right-border">
                                        <tr>
                                            <td class="border-none" width="50%">Amount Chargeable (in words)</td>
                                            <td class="border-none text-right" width="50%">E. & O.E</td>
                                        </tr>
                                        <tr>
                                            <td class="border-none border-left" colspan="100%">
                                                <strong>
                                                    @Model?.TotalInWords?.AmountForAccount
                                                </strong>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            }
                            @if (GetDisplayStatus("TaxBifurcation"))
                            {
                            <tr>
                                <td class="p-0 border-none">
                                    <table class="remove-left-right-border repeated-header">
                                        <thead>
                                            <tr>
                                                <th class="vertical-align-top text-center" rowspan="2" width=@(Model?.IsTaxesApplied == true ? "20%" : "40%")>
                                                    @GetLabel("TaxBifurcation")
                                                </th>
                                                <th class="vertical-align-top @(Model?.IsTaxesApplied == true ? "text-center" : "text-right")" rowspan="2">
                                                    Taxable Value
                                                </th>
                                                @if (Model?.GstTaxesTotal != null && Model.GstTaxesTotal.Any())
                                                {
                                                    @foreach (var Tax in Model.GstTaxesTotal)
                                                    {
                                                    <th class="text-center" colspan="2" width="25%">
                                                        @if (Tax?.AccountName != null)
                                                        {
                                                            <span class="text-uppercase">@Tax?.AccountName</span>
                                                        }
                                                    </th>
                                                }
                                                }
                                                @if (Model?.IsTaxesApplied == true)
                                                {
                                                    <th class="text-right vertical-align-top" rowspan="2">
                                                        Total Tax Amount
                                                    </th>
                                                }
                                            </tr>
                                            @if (Model?.GstTaxesTotal != null && Model.GstTaxesTotal.Any())
                                            {
                                                <tr>
                                                @foreach (var Tax in Model.GstTaxesTotal)
                                                {
                                                    <th class="text-center" width="12.5%">Rate</th>
                                                    <th class="text-center" width="12.5%">Amount</th>
                                                }
                                                </tr>
                                            }
                                        </thead>
                                        <tbody>
                                            @if (Model?.TaxBifurcation != null && Model.TaxBifurcation.Any())
                                            {
                                                @foreach (var Bifurcation in Model.TaxBifurcation)
                                                {
                                                <tr>
                                                    <td>
                                                        @if (Bifurcation?.HsnSc != null)
                                                        {
                                                            <span>@Bifurcation?.HsnSc</span>
                                                        }
                                                    </td>
                                                    <td class="@(Model?.IsTaxesApplied == true ? "text-center" : "text-right")">@Bifurcation?.TaxableValue</td>

                                                    @if (Bifurcation?.Iamt != null || (Model?.GstTaxesTotal != null && Model.GstTaxesTotal.Count == 1))
                                                    {
                                                        <td class="text-center">
                                                            @(Bifurcation?.Iamt != null && Bifurcation?.GstOrVatTaxRate >= 0 ? $"{Bifurcation?.GstOrVatTaxRate}%" : "") 
                                                        </td>
                                                        <td class="text-center">
                                                            @(Bifurcation?.Iamt >= 0 ? Bifurcation?.Iamt : "") 
                                                        </td>
                                                    }

                                                    @if ((Bifurcation?.Camt != null) || (Model?.GstTaxesTotal != null && Model.GstTaxesTotal.Count == 2))
                                                    {
                                                        <td class="text-center">
                                                            @(Bifurcation?.Camt != null && Bifurcation?.GstOrVatTaxRate >= 0 ? $"{Bifurcation?.GstOrVatTaxRate}%" : "") 
                                                        </td>
                                                        <td class="text-center">
                                                            @(Bifurcation?.Camt >= 0 ? Bifurcation?.Camt : "")
                                                        </td>
                                                        <td class="text-center">
                                                            @(Bifurcation?.Samt != null && Bifurcation?.GstOrVatTaxRate >= 0 ? $"{Bifurcation?.GstOrVatTaxRate}%" : "") 
                                                        </td>
                                                        <td class="text-center">
                                                            @(Bifurcation?.Samt >= 0 ? Bifurcation?.Samt : "")
                                                        </td>
                                                    }
                                                    @if (Model?.IsTaxesApplied == true)
                                                    {
                                                        <td class="text-right">@Bifurcation?.EntryTotal</td>
                                                    }
                                                </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="text-right">
                                                    <strong>Total</strong>
                                                </td>

                                                <td class="@(Model?.IsTaxesApplied == true ? "text-center" : "text-right")">
                                                    <strong>@Model?.TaxableTotal?.AmountForAccount</strong>
                                                </td>

                                                @if (Model?.GstTaxesTotal != null && Model.GstTaxesTotal.Any())
                                                {
                                                    @foreach (var Tax in Model.GstTaxesTotal)
                                                    {
                                                        <td></td>
                                                        <td class="text-center">
                                                            <strong>@Tax?.Amount?.AmountForAccount</strong>
                                                        </td>
                                                    }
                                                }
                                                @if (Model?.IsTaxesApplied == true)
                                                {
                                                    <td class="text-right">
                                                        <strong>@Model?.TaxBifurcationEntryTotal?.AmountForAccount</strong>
                                                    </td>
                                                }
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</main>
