@model InvoiceData.Root;
@using InvoiceData;
@using System.Collections.Generic;

@functions {
    private readonly Dictionary<string, Setting> _settingCache = new Dictionary<string, Setting>();

    public string GetLabel(string settingName)
    {
        if (!_settingCache.TryGetValue(settingName, out var setting))
        {
            setting = Model.Settings?.GetType().GetProperty(settingName)?.GetValue(Model.Settings) as Setting;
            _settingCache[settingName] = setting ??= new Setting();
        }
        return setting?.Display == true ? setting?.Label ?? string.Empty : string.Empty;
    }

    public bool GetDisplayStatus(string settingName)
    {
        if (!_settingCache.TryGetValue(settingName, out var setting))
        {
            setting = Model.Settings?.GetType().GetProperty(settingName)?.GetValue(Model.Settings) as Setting;
            _settingCache[settingName] = setting ??= new Setting();
        }
        return setting?.Display == true;
    }
}

<footer id="footer" style="@(Model?.ShowSectionsInline == true ? "flex-grow: 1" : "")">
    <table class="page-break-inside-avoid h-100">
        <tbody>
            <tr>
                <td class="p-0 border-none border-bottom vertical-align-bottom @(Model?.ShowSectionsInline == true ? "border-left border-right" : "")">
                    <table style="margin-top: 50px;">
                        <tbody>
                            <tr>
                                <td class="p-0 border-none vertical-align-bottom">
                                    <table class="mr-t1">
                                        <tr>
                                            <td class="border-none border-right" width="50%" rowspan="2">
                                                @if (GetDisplayStatus("Message1"))
                                                {
                                                    <u>Declaration:</u>
                                                    <p class="margin-0">
                                                        @GetLabel("Message1")
                                                    </p>
                                                }
                                            </td>
                                            @if (GetDisplayStatus("FooterCompanyName"))
                                            {
                                                <td class="border-none border-top" width="50%">
                                                    <p class="text-right pd-r1">for @GetLabel("FooterCompanyName")</p>
                                                </td>
                                            }
                                        </tr>
                                        @if (GetDisplayStatus("TextUnderSlogan") || GetDisplayStatus("ImageSignature"))
                                        {
                                            <tr>
                                                <td class="border-none pd-r1 text-right">
                                                    @if (GetDisplayStatus("ImageSignature") && !string.IsNullOrEmpty(Model?.ImageSignature))
                                                    {
                                                    <div>
                                                        <img src="@Model.ImageSignature" height="60px" width="auto" class="signature-image" />
                                                    </div>
                                                    }

                                                    @if (GetDisplayStatus("TextUnderSlogan"))
                                                    {
                                                        @GetLabel("TextUnderSlogan")
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</footer>
